


        <div class="btn-group">
            <button class="btn btn-outline-secondary btn-sm">
                Viking Akun - АКУН
            </button>
            <button class="btn btn-outline-secondary btn-sm">
                Viking Truvor - ТРУВОР
            </button>
            <button class="btn btn-outline-secondary btn-sm">
                Viking Rurik - РЮРИК
            </button>
            <button class="btn btn-outline-secondary btn-sm">
                Vikig Helgi - ХЕЛЬГИ
            </button>
            <button class="btn btn-outline-secondary btn-sm">
                Viking Ingvar - ИНГВАР
            </button>
        </div>