<table style="border-collapse: collapse">
 <tr style="border-bottom: 1px solid">
  <td>
    <div style="font-weight: bold; padding-left: 4rem; padding-top: 2rem;">
        Подтверждение №: <br> о приеме группы иностранных туристов
    </div>
    <div style="font-size: 13px; padding-top:0.5rem;">
        Визовое приглашение №:
    </div>
    <div style="padding-top:1rem;">
        Кратность визы:
    </div>
    <div style="padding-top:1rem;">
        Гражданство
    </div>
    <div style="padding-top:1rem; padding-bottom: 1rem;">
        <span>Въезд с</span>        <span style="padding-left: 5rem;">Выезд до</span>
    </div>


      <table style="border-collapse: collapse;">
       <tr>
        <td class="col1">Фамилия</td>
        <td class="col1">Имя</td>
        <td class="col1">Дата<br>рождения</td>
        <td class="col1">№<br>паспорта</td>
        <td class="col1" style="border-right">Граж-во</td>
       </tr>
        <tr>
            <td class="col1"></td><td class="col1"></td><td class="col1"></td><td class="col1"></td><td class="col1"></td>
        </tr>

        <tr>
            <td class="col1" style="font-weight: bold;" colspan="5" rowspan="1">
            СПИСОК ГРУППЫ ПРИЛАГАЕТСЯ
            </td>
        </tr>
        <tr>
            <td class="col1" colspan="1" rowspan="1"></td><td class="col1"></td><td class="col1"></td><td class="col1"></td><td class="col1"></td>
        </tr>

      </table>

        <div style="padding-top:1rem;">
            Цель поездки
        </div>

        <div style="padding-top:1rem;">
            Маршрут и места размещения город
        </div>

        <div style="padding-top:1rem;">
            Размещение
        </div>
    </td>
</tr>
<tr>
 <td>
  <div style="padding-top:1rem;">
    Принимающая организация, ее адрес, № референса
    <br>
    <br>
    <br>
    </div>
  <div style="font-weight: bold;">
    Реестровый номер
  </div>
 </td>
</tr>
<tr style="border-bottom: 1px solid">
 <td>
     <div style="padding-top:1rem;">
         Дополнительные сведения:
         <br>
         <br>
         <br>
     </div>
     <div style="font-weight: bold; text-decoration: underline; padding-bottom: 1rem;">
         ВСЕ ВЫШЕПЕРЕЧИСЛЕННЫЕ УСЛУГИ ПОЛНОСТЬЮ ОПЛАЧЕНЫ <br> Ответственное лицо:
     </div>

     <div style="padding-left: 4rem;">
         Подпись ______________ Васив Д.М. <span style="padding-left: 3rem;">(менеджер визового отдела)</span>
          <br><br>
         Дата	01.03.2019
     </div>
     <br><br>

 </td>
</tr>
</table>