{% extends 'app/base.html' %}
{% block content %}


<table class="table table-inverse table-sm" style="font-size: 80%;">
    <thead>
        <tr>
            <!--<th>#</th>-->
            <th><a href="/form2_db/invitation_number/{{reverse}}"> Приглашение № </a></th>
            <th><a href="/form2_db/date/{{reverse}}"> Дата создания </a></th>
            <th><a href="/form2_db/partner/{{reverse}}"> Партнер </a></th>
            <th><a href="/form2_db/placement/{{reverse}}"> Корабль </a></th>
            <th><a href="/form2_db/entry/{{reverse}}"> Въезд с </a></th>
            <th><a href="/form2_db/firstname/{{reverse}}"> Фамилия </a></th>
            <th><a href="/form2_db/lastname/{{reverse}}"> Имя </a></th>
            <th><a href="/form2_db/nationality/{{reverse}}"> Гражданство </a></th>
            <th><a href="/form2_db/visa_type/{{reverse}}"> Тип визы </a></th>
        </tr>
    </thead>
    <tbody>
    {% for note in notes %}
    <tr>
        <!--<th scope="row">{{note.id}}</th>-->
        <td>{{note.invitation_number}}</td>
        <td>{{note.date}}</td>
        <td>{{note.partner}}</td>
        <td>{{note.placement}}</td>
        <td>{{note.entry}}</td>
        <td>{{note.firstname}}</td>
        <td>{{note.lastname}}</td>
        <td>{{note.nationality}}</td>
        <td>{{note.visa_type}}</td>
        <td>
            <a href="/form2_xlsx?id={{note.id}}">Xlsx</a> /
            <a href="/form2_pdf?id={{note.id}}">Pdf</a> /
            <a href="/render_pdf_view">Pdf2</a> /
            <a href="/edit_form2/{{note.id}}">Изменить</a>  /
            <a href="/del_item/form2/{{note.id}}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if notes.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ notes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
        </span>

        {% if notes.has_next %}
            <a href="?page={{ notes.next_page_number }}">next</a>
            <a href="?page={{ notes.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}