
<!DOCTYPE html>
{% load static %}

<style>
    body{
    font-size: 70%;
    }
    .col1{
        border: 1px solid black;
        height: 1rem;
        text-align: center;
        width: 2%;
    }
    @page {
      size: 297mm 210mm;
    }
    .info{
        font-weight: bold;
        text-decoration: underline;
    }
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 257mm; height: 200mm;">
    <div>
        <table style="border-collapse: collapse; border: 1px solid black; ">
            <tr>
                <td style="border-right: 1px solid;"></td>
                <td style="text-align: right; padding-right: 3rem;">КОНТРОЛЬНЫЙ ТАЛОН</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">   {% include "app/form2_UP.html" %}   </td>
                <td>{% include "app/form2_UP.html" %}</td>
            </tr>
        </table>
    </div>
</div>




<div style="width: 257mm; height: 200mm;">
    <div>
        <table style="border-collapse: collapse; border: 1px solid black; ">
            <tr>
                <td style="border-right: 1px solid;"></td>
                <td style="text-align: right; padding-right: 3rem;">Контрольный талон</td>
            </tr>
            <tr>
                <td style="font-weight: bold; border-right: 1px solid;">СПИСОК ГРУППЫ К ПОДТВЕРЖДЕНИЮ №</td>
                <td style="font-weight: bold;">СПИСОК ГРУППЫ К ВАУЧЕРУ - VOUCHER №</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">   {% include "app/form2_DOWN.html" %}   </td>
                <td>{% include "app/form2_DOWN.html" %}</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>