{% load static %}

<table style="border-collapse: collapse;">
    <tr>
        <td class="col1">Фамилия</td>
        <td class="col1">Имя</td>
        <td class="col1">Дата<br>рождения</td>
        <td class="col1">№<br>паспорта</td>
        <td class="col1" style="border-right">Граж-во</td>
    </tr>
    {% for m in members %}
        <tr>
            <td class="col1" rowspan="1">{{m.familyname|upper}}</td>
            <td class="col1" rowspan="1">{{m.name|upper}}</td>
            <td class="col1" rowspan="2">{{m.birthday|date:"d/m/Y"}}</td>
            <td class="col1" rowspan="2">{{m.passport|upper}}</td>
            <td class="col1" rowspan="2">{{m.nationality|upper}}</td>
        </tr>
        <tr>
            <td class="col1" rowspan="1">{{m.firstname|upper}}</td>
            <td class="col1" rowspan="1">{{m.lastname|upper}}</td>
        </tr>
    {% endfor %}
    {% for i in i|rjust:empty_strings_len %}
        <tr>
            <td class="col1" rowspan="1"></td>
            <td class="col1" rowspan="1"></td>
            <td class="col1" rowspan="2"></td>
            <td class="col1" rowspan="2"></td>
            <td class="col1" rowspan="2"></td>
        </tr>
        <tr>
            <td class="col1" rowspan="1"></td>
            <td class="col1" rowspan="1"></td>
        </tr>
    {% endfor %}

</table>


 <div style="position: absolute; top: 480px;">
    <img width="45%;" src="{% static '/xlsx/image823.png' alt='Изображение Печать'%}">
 </div>
 <div style="position: absolute; top: 510px;">
     <span style="padding-left: 7rem;">
        <img width="5%;" src="{% static '/xlsx/image853.png' alt='Изображение Подпись'%}">
     </span>
 </div>
<br><br><br><br>
<div style="padding-left: 4rem;">
    Подпись ______________ Васив Д.М. <span style="padding-left: 2rem;">(менеджер визового отдела)</span>
<br><br>
    Дата
    <span>{{date_now|date:"d.m.Y"}}</span>
</div>