{% extends 'app/base.html' %}
{% load static %}
{% block content%}
<script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}">
<script src="{% static '/js/jquery-3.3.1.min.js'%}" type="text/javascript"></script>
<div class="container" style="margin-top: 10px;">
    <h1>{{title}}</h1>
    <form method="post" style="margin-bottom: 3rem;">
        {% csrf_token %}
        <div class="form-row" style="margin-bottom: 1rem; margin-top: 2rem">
        {% for field in form %}
            {% if forloop.counter <= 6 %}
                <div class="form-group col-md-2">
                {{ field.label_tag}}{{field}}
                </div>
            {%elif forloop.counter <= 14%}
                <div class="form-group col-md-3">
                {{ field.label_tag}}{{field}}
                </div>
            {%endif%}
        {% endfor %}
        </div>
            {% include "app/choose_sheeps.html" %}
        <div class="form-row">
            <div class="form-group col-md-12">
            {{ form.label_tag.placement }}{{ form.placement }}
            </div>
            <div class="form-group col-md-12">
            {{ form.label_tag.rout }}{{ form.rout }}
            </div>
            <div class="form-group col-md-12">
            {{ form.label_tag.hostorganization }}{{ form.hostorganization }}
            </div>
        </div>


        <div class="form-row align-items-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Сохранить</button>
            </div>
        </div>

        <!-- Ниже - код для членов группы при редактировании...-->
        <div style="margin-top: 2rem;">
            {% for m in member_forms %}
            <div id="member_id_{{forloop.counter}}" class="form-row" style="font-size: 85%;">
                {% for field in m %}
                    <div class="" style="">
                        {{field}}
                    </div>
                {% endfor %}
                <button type="button" id="delete_btn_id_{{forloop.counter}}" class="btn btn-outline-secondary btn-sm input-xs" onclick="delete_m({{forloop.counter}})">-</button>
            </div>
            {% endfor %}
        </div>

        <!-- Место для всявки членов группы-->
        <div id="members" style="">
        </div>
        <input type="hidden" name="NUM" value="1" id="NUM">
        <button type="button" id="add_member" class="btn btn-outline-secondary btn-sm input-xs" onclick="add_m()">+</button>
    </form>
</div>


<script>
NUM = {{NUM}}
var m = document.getElementById('members');
function add_m()
{
    console.log('add_member')
    NUM++;
    $.ajax({
        url: '/add_member',
        type: 'post',
        data: {'NUM':NUM,'csrfmiddlewaretoken': '{{csrf_token}}'},
        success: function(resp)
        {
            $("#members").append(resp);
            $('#NUM').val(NUM)
        },
    });
}

function delete_m(NUM)
{
    console.log('del')
    $("#member_id_"+NUM).remove()
    $('#NUM').val(NUM)
}
</script>


{% endblock %}

