<!DOCTYPE html>
<style>
    body{
    font-size: 70%;
    }
    .col1{
        border: 1px solid black;
        height: 1rem;
        text-align: center;
        width: 1%;
    }
    @page {
      size: 297mm 210mm;
    }
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="border: 1px solid black;">
    <div>
        <table style="border-collapse: collapse;">
            <tr>
                <td style="border-right: 1px solid;"></td>
                <td style="text-align: right; padding-right: 3rem;">КОНТРОЛЬНЫЙ ТАЛОН</td>
            </tr>
            <tr>
                <td style="border-right: 1px solid;">   {% include "app/form2_UP.html" %}   </td>
                <td>{% include "app/form2_UP.html" %}</td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>