<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="border: 1px solid black;">
<div style="font-weight: bold; padding-left: 4rem;">
    Подтверждение №: <br> о приеме иностранных туристов
</div>
<div style="font-size: 13px; padding-top:0.5rem;">
    Визовое приглашение №:
</div>
<div style="padding-top:1rem;">
    Кратность визы:
</div>
<div>
    Гражданство
</div>
<div>
    <span>Въезд с</span>        <span style="padding-left: 5rem;">Выезд до</span>
</div>
</body>
</html>