{% extends 'app/base.html' %}



{% block content%}
<div class="container" style="margin-top: 3rem">
  <form action="/form1">
    <button type="submit" class="my btn-block btn btn-outline-secondary btn-sm">Форма для одиночной визы</button>
  </form>
  <form action="/form2">
    <button type="submit" class="my btn-block btn btn-outline-secondary btn-sm">Форма для групповой визы</button>
  </form>
  <form action="/all_forms">
      <button type="submit" class="my btn-block btn btn-outline-secondary btn-sm">Найти форму в базе данных</button>
  </form>
  <form action="/lists">
      <button type="submit" class="my btn-block btn btn-outline-secondary btn-sm">Редактировать списки</button>
  </form>
  <form action="/statistic">
      <button type="submit" class="my btn-block btn btn-outline-secondary btn-sm">Статистика</button>
  </form>
</div>
{% endblock%}

