{% extends 'app/base.html' %}
{% block content%}
{% load staticfiles %}


<form>
{% csrf_token %}

<div class="form-row">
{% for field in form %}
    {% if forloop.counter <= 6 %}
        <div class="form-group col-md-2">
        {{ field.label_tag}}
        {{field}}
        </div>
    {%else%}
        <div class="form-group col-md-3">
        {{ field.label_tag}}
        {{field}}
        </div>
    {%endif%}
{% endfor %}
</div>
{{form.placement}}

<div class="form-row align-items-center">
    <div class="col-auto">
        <button type="submit" class="btn btn-outline-secondary btn-sm">Сохранить</button>
    </div>
</div>
</form>
{% endblock%}

